server:
  port: 9000
spring:
  datasource:
    url: jdbc:h2:mem:testdb
    driverClassName: org.h2.Driver
    username: sa
    password: ''
  h2:
    console:
      enabled: true
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: update
    show-sql: true
  profiles:
    active:
      - "qa"
#      -  "prod"

build:
  version: "1.0"

accounts:
  message: "Welcome to DummyBank accounts related local APIs "
  contactDetails:
    name: "Rohan Rana - Developer"
    email: "rohan@dev.com"
  onCallSupport:
    - (555) 555-1234
    - (555) 523-1345
